::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 0.19rem solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

.content-parcours {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
}

.timeline-edu {
  width: 75%;
  max-width: 75%;
}
.timeline-edu .container {
  width: 500px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}
.timeline-edu .container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  z-index: 1;
}
.timeline-edu .container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.timeline-edu .container.left::before {
  position: absolute;
  top: 51%;
  right: -43px;
}
.timeline-edu .container.right::before {
  position: absolute;
  top: 51%;
  left: -42px;
}
.timeline-edu .container.right::after {
  left: -10px;
}
.timeline-edu .left {
  border-radius: 0px 100px 100px 0px;
  position: absolute;
  top: 130px;
  left: 200px;
  transition: all 0.3s;
}
.timeline-edu .left-big {
  border-radius: 0px 100px 100px 0px;
  position: absolute;
  top: 130px;
  transform: translateX(120px);
  transition: all 0.3s;
}
.timeline-edu .right {
  border-radius: 100px 0px 0px 100px;
  position: absolute;
  top: 280px;
  transition: all 0.3s;
  right: 200px;
}
.timeline-edu .right-big {
  border-radius: 100px 0px 0px 100px;
  position: absolute;
  top: 280px;
  transition: all 0.3s;
  transform: translateX(-120px);
}

.timeline-title {
  position: absolute;
  top: 33px;
  left: 675px;
  color: white;
  font-size: 24px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding: 4px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.timeline-title.edu {
  top: 33px;
  left: 675px;
  padding: 4px;
  text-transform: uppercase;
}

.timeline-title-big {
  transform: translate(120px);
  transition: all 0.3s;
}

.timeline-title.pro {
  top: 480px;
  left: 675px;
  padding: 4px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.timeline-pro::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  left: 46.2%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  top: 135.1%;
}

.timeline-pro::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  width: 2px;
  top: 527px;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  height: 550px;
}

.timeline-edu::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  width: 2px;
  top: 80px;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  height: 400px;
}

.container.left .date {
  position: absolute;
  top: 40%;
  right: -160px;
  font-size: 18px;
  font-weight: 600;
}
.container.left .content {
  margin: 10px;
}
.container.left .content .title {
  font-size: 20px;
  font-weight: 600;
}

.container.right .date {
  position: absolute;
  top: 40%;
  left: -160px;
  font-size: 18px;
  font-weight: 600;
}
.container.right .content {
  position: absolute;
  margin-left: 55px;
  bottom: 10px;
}
.container.right .content .title {
  font-size: 20px;
  font-weight: 600;
}

.timeline-pro {
  width: 75%;
  max-width: 75%;
}
.timeline-pro .container {
  width: 500px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}
.timeline-pro .container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  z-index: 1;
}
.timeline-pro .container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.timeline-pro .container.left::before {
  position: absolute;
  top: 51%;
  right: -43px;
}
.timeline-pro .container.right::before {
  position: absolute;
  top: 51%;
  left: -42px;
}
.timeline-pro .container.last::before {
  position: absolute;
  top: 51%;
  right: -43px;
}
.timeline-pro .container.right::after {
  left: -10px;
}
.timeline-pro .left {
  border-radius: 0px 100px 100px 0px;
  position: absolute;
  top: 580px;
  left: 200px;
  transition: all 0.3s;
}
.timeline-pro .left-big {
  border-radius: 0px 100px 100px 0px;
  position: absolute;
  top: 580px;
  transform: translateX(120px);
  transition: all 0.3s;
}
.timeline-pro .right {
  border-radius: 100px 0px 0px 100px;
  position: absolute;
  top: 730px;
  transition: all 0.3s;
  right: 200px;
}
.timeline-pro .right-big {
  border-radius: 100px 0px 0px 100px;
  position: absolute;
  top: 730px;
  transition: all 0.3s;
  transform: translateX(-120px);
}
.timeline-pro .last {
  border-radius: 0px 100px 100px 0px;
  position: absolute;
  top: 880px;
  left: 200px;
  transition: all 0.3s;
}
.timeline-pro .last-big {
  border-radius: 0px 100px 100px 0px;
  position: absolute;
  top: 880px;
  transform: translateX(120px);
  transition: all 0.3s;
}
.timeline-pro .container.left .date {
  position: absolute;
  top: 40%;
  right: -220px;
  font-size: 18px;
  font-weight: 600;
}
.timeline-pro .container.left .content {
  position: absolute;
  bottom: 3px;
}
.timeline-pro .container.left .content .title {
  font-size: 20px;
  font-weight: 600;
}
.timeline-pro .container.right .date {
  position: absolute;
  top: 40%;
  left: -210px;
  font-size: 18px;
  font-weight: 600;
}
.timeline-pro .container.right .content {
  position: absolute;
  bottom: 10px;
  margin-left: 55px;
}
.timeline-pro .container.right .content .title {
  font-size: 20px;
  font-weight: 600;
}
.timeline-pro .container.last .date {
  position: absolute;
  top: 40%;
  right: -105px;
  font-size: 18px;
  font-weight: 600;
}
.timeline-pro .container.last .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.timeline-pro .container.last .content .title {
  font-size: 20px;
  font-weight: 600;
}/*# sourceMappingURL=timeline.css.map */